.box_1 {
  width: 600px;
  height: 200px;
  background-color: red;

}
.box_1-1{
  width: 100px;
  height: 100px;
  background-color: gray;
  
}
.space{
  height: 50px;
}

.box_2 {
  width: 300px;
  height: 400px;
  background-color: blue;
    
}
.box_2-1 {
  width: 100px;
  height: 250px;
  background-color: gray;
  
}